<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="~{./fragments/head.html}" >
</th:block>
<body id="body">

<th:block th:insert="~{./fragments/nav.html}" >
</th:block>
REGISTER

<form id="form" class="form" th:action="@{/api/v1/user}">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input type="text" th:field="*{user.username}" class="form-control myInput" placeholder="Username"
               aria-label="Username" aria-describedby="basic-addon1" required>

        <span class="input-group-text mySpan" id="basic-addon2">🔒</span>
        <input type="password" th:field="*{user.password}" class="form-control" placeholder="Password"
               aria-label="Password" aria-describedby="basic-addon2" required>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">🧑</span>
        <input type="text" th:field="*{user.firstName}" class="form-control myInput" placeholder="First Name"
               aria-label="First Name" aria-describedby="basic-addon3" required>
        <span class="input-group-text mySpan" id="basic-addon4">👪</span>
        <input type="text" th:field="*{user.lastName}" class="form-control" placeholder="Last Name"
               aria-label="Last Name" aria-describedby="basic-addon4" required>
    </div>
    <div id="errorDiv" class="alert alert-danger" style="display: none;"></div>

    <button style="float:right" type="button" onclick="submitForm('/login')" class="btn btn-primary">Submit</button>
</form>

<th:block th:insert="~{./fragments/footer.html}" >
</th:block>
<script th:src="@{/js/submitForm.js}"></script>
</body>
</html>